BODY {
	SCROLLBAR-FACE-COLOR: #846417; FONT-SIZE: 12px; SCROLLBAR-HIGHLIGHT-COLOR: #9a8043; SCROLLBAR-SHADOW-COLOR: #715001; COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #a88022; SCROLLBAR-ARROW-COLOR: #715001; SCROLLBAR-DARKSHADOW-COLOR: #715001
}
TD {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 150%
}
A {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #8b501b; TEXT-DECORATION: underline
}
.img {
	PADDING-LEFT: 40px; MARGIN-LEFT: 40px
}
.select {
	BORDER-RIGHT: rgb(88,88,88) 1px double; BORDER-TOP: rgb(88,88,88) 1px double; BORDER-LEFT: rgb(88,88,88) 1px double; BORDER-BOTTOM: rgb(88,88,88) 1px double
}
.f2 {
	COLOR: #bac4d4
}
.tm {
	FILTER: Alpha(Opacity=70)
}
.tm1 {
	FILTER: Alpha(Opacity=50)
}